<!-- views/partials/footer.ejs -->
  <hr>
  <footer class="footer has-background-white-bis has-text-black-ter"
        style="position: fixed; bottom: 0; left: 0; width: 100%; padding: 0.5rem 1rem;">
  <div style="text-align: left;">
    <a class="button is-light mt-1" href="/">Volver a incio</a>
    <p style="font-size: 0.8rem; margin-top: 0.3rem; text-align: right;" >© 2025 Smartory</p>
  </div>
</footer>