<nav class="navbar  has-background-link-light " role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <img src="/css/img/SMARTOR2.png" alt="Smartory Logo" width="100" height="20" >
  
</a>

    <a role="button" class="navbar-burger " aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample  " class="navbar-menu ">
    <div class="navbar-start">
      <a class="navbar-item" href="/">Inicio</a>
      </a>
      <a class="navbar-item" href="/productos">Productos
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Más
        </a>
        <div class="navbar-dropdown has-background-link-light">
          <a class="navbar-item" href="/proveedores">Proveedores
          </a>
          <a class="navbar-item is-selected" href="/movimientos">Movimientos
          </a>
          <a class="navbar-item" href="/alertas">Alertas
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" onclick="mostrarMensajeAcerca()" >Acerca de:
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end has-background-link-light">
      <div class="navbar-item has-background-white-primary">
        <div class="buttons">
          <a class="button is-link is-focused" href="/perfil">
            <strong> Mi perfil</strong>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>