<%- include ('partials/navbar')%>
<%- include('partials/header') %>
<!-- Contenido principal -->
<main style="flex: 1; padding: 2rem;">
  <div class="columns is-vcentered">
    <!-- Columna de texto -->
    <div class="column is-two-thirds">
      <h1 class="title is-2">Bienvenido a Smartory</h1>
      <p class="subtitle is-5">Smartory un inventario inteligente para tener mejor control de tu negocio</p>
      <p>Realizado por: Software Team</p>
    </div>
    <!--Logo Cesun -->
    <div class="column has-text-right">
      <img src="/css/img/cesun.png" alt="cesun Logo" style="max-width: 300px; height: auto; margin-right: 5rem;">
    </div>
  </div>
</main>

 
<%- include('partials/footer') %>